:root {
  --background-color: #c3c3c3;
  --primary-text-color: #525252;
  --second-background-color: #9f9f9f;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: var(--background-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin: 18px 0;
}

.logo {
  margin-right: 800px;
  font-size: 35px;
  font-weight: 600;
  color: var(--primary-text-color);
}

.header-list {
  display: flex;
  padding: 0;
}

.header-item {
  font-size: 20px;
  font-weight: 500;
}

.header-item:not(:last-child) {
  padding-right: 10px;
}

.header-link {
  color: var(--primary-text-color);
}

.hero {
  background-color: var(--background-color);
}

.hero-wrap {
  display: flex;
}

.hero-container {
  margin-right: 50px;
}

.hero-title {
  margin: 0;
  font-size: 55px;
  font-weight: 700;
  color: var(--primary-text-color);
}

.hero-intro {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.hero-sub-title {
  padding: 110px 594px 90px 110px;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 400;
  background-color: var(--second-background-color);
  color: var(--primary-text-color);
}

.button-list {
  display: flex;
  justify-content: flex-end;
  margin: 20px 202px;
}

.button-item {
  padding-right: 35px;
}

.btn {
  border-radius: 15px;
  border-style: none;
  padding: 10px;
  cursor: pointer;
  background-color: var(--background-color);
}

.services-list {
  display: flex;
  padding: 0;
  margin: 40px 0;
}

.services-item {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  padding: 130px 135px;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.services-item:not(:last-child) {
  margin-right: 46px;
}

.work-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.work-item {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  padding: 130px 143px;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.work-item:not(:last-child) {
  margin-right: 45px;
}

.feedback {
  font-size: 24px;
  font-weight: 500;
  padding: 19px;
  margin: 30px 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.footer {
  display: flex;
  background-color: var(--background-color);
}

.footer-wrap {
  display: flex;
}

.footer-list {
  display: flex;
  padding: 0;
  margin: 20px 730px 20px 0;
}

.footer-item {
  font-size: 20px;
  font-weight: 500;
}

.fotter-link {
  color: var(--primary-text-color);
}

.footer-item:not(:last-child) {
  padding-right: 15px;
}

.footer-info {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-text-color);
}
